.auth-wrapper {
  display: flex;
  height: 96vh;
  font-family: 'Segoe UI', sans-serif;
}

.login-section,
.register-section {
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-section {
  background-color: #6c63ff;
  color: #f7f7f7;
  align-items: flex-end;
}

.register-section {
  background-color: #fff;
  color: #6c63ff;
  align-items: flex-start;
  text-align: left;
}

.login-section h2,
.register-section h2 {
  font-size: 36px;
  margin-bottom: 10px;

}

.login-section p,
.register-section p {
  font-size: 16px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.85);
}

.register-section p {
  color: #888;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.input-group svg {
  margin-right: 10px;
  color: #888;
}

.input-group input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  width: 100%;
}

.btn {
  padding: 12px 0;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.login-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.login-btn:hover {
  background: #fff;
  color: #6c63ff;
}

.register-btn {
  background-color: #6c63ff;
  color: #fff;
}

.register-btn:hover {
  background-color: #4e47d3;
}


