.inputText{
    background-color: #f0f8ff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20vw;
    font-size: 17px;
}

.inputText::placeholder{
    color: #888;
    font-size: 1vw;
}

.inputText:focus{
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.inputText:focus::placeholder{
    color: transparent;
}

@media screen and (max-width: 1000px) {

    .inputText{
        width: 60vw;
        font-size: 4vw;
    }

    .inputText::placeholder{
        font-size: 3vw;
    }
    
}
