*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #0D1117;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContainerUtilities{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

.text-white{
    color: rgb(240, 238, 238);
}

.h1Name{
    text-align: center;
    padding-top: 10px;
    font-size: 3vw;
}

.description{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5vw;
}

.inputContainer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 50vw;
    margin: 0 auto;
}

.btnSearch{
    background-color: #238636;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    height: 2vw;
}

.btnSearch:hover{
    background-color: #2ea043;
}

.btnSearch:active{
    background-color: #196c2e;
    padding: 9.5px 20px;
}
@media screen and (max-width: 1000px) {
    .inputContainer{
        width: 80vw;
    }
    .h1Name{
        font-size: 6vw;
    }
    .description{
        font-size: 4vw;
    }
}