*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerHome{
    font-family: 'Poppins', sans-serif;
    background-color: #3d71b4;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardHome{
    border: 1px #677c97 solid;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #000000;
    transition: 0.3s;
}
.buttonHome{
    cursor: pointer;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #677c97;
    background-color: #f1f1f1;
    margin: 10px;
}
.buttonHome:hover{
    background-color: #677c97;
    transition: 0.3s;
}

.buttonHome a{
    text-decoration: none;
    color: #2d3846;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: auto;
    height: auto;
}
.buttonHome a:hover{
    color: #fff;
    transition: 0.3s;
}
.cardHome h2{
    color: #2d3846;
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;    
}
.cardHome p{
    color: #2d3846;
    font-size: 15px;
    margin: 15px;
    text-align: center;
    letter-spacing: 1px;    
}

