*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginPage{
    font-family: 'Poppins', sans-serif;
    background-image:url(C:\Users\talys\WebstormProjects\Estudos-Front\PROJETOS\ChatApp\chatapp\src\home\media\background.jpg);
    background-size: cover;
    width: 100%;
    min-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nameLogin{
    font-size: 30px;
    color: #27292c;
    margin-bottom: 20px;
}
.formLogin{
    border: 1px #677c97 solid;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: 400px;
    background-color: #44474d17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #3b3b3b;
    transition: 0.3s;
}
.formLogin p{
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.formLogin input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #677c97;
    background-color: #f1f1f1;
    margin: 10px;
}
.formLogin input:hover{
    background-color: #d8d7d7ab;
    transition: 0.3s;
}

.formLogin input:focus{
    background-color: #d8d7d7ab;
    transition: 0.3s;
}

.formLogin button{
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #677c97;
    background-color: #f1f1f1;
    margin: 10px;
}
.formLogin button:hover{
    background-color: #677c97;
    transition: 0.3s;
    color: #fff;
}

.formLogin button a{
    text-decoration: none;
    color: #2d3846;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: auto;
    height: auto;
}
.formLogin button:hover a{
    color: #fff;
    transition: 0.3s;
}
