*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerSystem{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
