.buttonStyle{
    background-color: #007EC6; /* Green */
    border: none;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 13vw;
}

.buttonStyle:hover {
    background-color: #066ba5;
}

.buttonStyle:active {
    background-color: #007EC6;
    box-shadow: 0 1px #3a3939;
    transform: translateY(1px);
}