*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b011b;
    color: azure;
}

h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.inputChat{
    width:500px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #1c1c2e;
    color: azure;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.inputChat input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1c1c2e;
    color: azure;
    font-size: 1.2rem;
    margin:0 auto 15px auto;
}

.loginButton{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1c1c2e;
    color: azure;
    font-size: 1.2rem;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

.loginButton:hover{
    background-color: #2c2c4e;
    transition: 0.3s;
}

.loginRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
}

.loginGoogleButton{
    background-color: #4285F4;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.loginGoogleButton a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.loginGoogleButton:hover{
    background-color: #357ae8;
    transition: 0.3s;
}
.loginCelular{
    background-color: #18a2dd;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}
.loginCelular a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}