.inputTextContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.inputText{
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 25vw;
}